.tag {
  display: block;
}

.post {
  /* display: block; */
  margin: 10px;
  /* display: flex; */
  float: left;
  border: solid 3px #333;
}

.post h1 {
  font-size: 100px;
}
.a {
  display: flex;
  flex-wrap: wrap;
}
