.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 530px;
}

.canvas_children {
  background-color: #fff;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 20px;
}

.canvasCode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.canvasCode div {
  width: 50%;
}

.canvasCode textarea {
  background: #000;
  color: #fff;
  resize: none;
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
}

.canvasCode h2 {
  margin-left: 20px;
}

.canvasProp {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;
}

.height_range p,
.width_range p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.height_range input,
.width_range input {
  font-size: 24px;
  text-align: center;
  margin: 0 10px;
  border-radius: 20px;
}

.workDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
}

.workDetail input {
  font-size: 24px;
  width: 50%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 20px;
}

.placeholder {
  font-family: consolas, "Courier New", monospace;
  font-size: 25px;
  padding: 10px;
  overflow: scroll;
  white-space: nowrap;
}

.tagList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;
}

.back {
  background-color: #eadeda;
  border: none;
  color: #cfa77c;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 800;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
