.container {
  background-color: #cfa77c;
  padding: 20px 0;
}

.wrapper {
  margin: 0 20px;
}

.logo {
  font-family: Georgia, serif;
  font-size: 24px;
  color: #eadeda;
}

.brandIcons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-top: 10px;
}

.copyright {
  font-size: 12px;
  color: #eadeda;
  margin-top: 20px;
}
