.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfa77c;
  height: 100px;
  padding: 20px 20px;
}

.logo {
  font-family: Georgia, serif;
  font-size: 48px;
  color: #eadeda;
}

.wrapper {
  display: flex;
  align-items: center;
}

.search {
  margin-left: 20px;
}

.user {
  border: 5px solid #eadeda;
  border-radius: 50%;
  margin-left: 20px;
}
.input {
  visibility: visible;
  border-radius: 10px;
  font-size: 30px;
  margin: 10px;
}
.search_check {
  display: none;
  height: 100px;
  width: 100px;
}
.search_check:checked + .input {
  visibility: hidden;
}
